body {
	font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

.wooo {
	top: 0;
    position: fixed;
    width: 100%;
}

.spacer {
	height: 24vh;
	background-color: white;
}

.comp {
	height: 70vh;
}

.projHeight {
  min-height: 50vh;
}

.imgh {
  max-height: 300px;
}

.lgrey {
  background-color: #bcbcbc;
}

.iconHeight {
  max-height: 125px;

}

.gifHeight {
 max-height: 170px;
}

.faBlack {
  color: black;
}


.pop {
  transition: transform .2s;
  
}

.pop:hover {
  transform: scale(1.2);
}

.popGif {
  transition: transform .2s;
  
}

.popGif:hover {
  transform: scale(1.5);
}

/*animations*/




.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: fixed;
  top: 24vh;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}
